{% load cms_tags sekizai_tags static %}
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" rel="stylesheet">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% block content %}
        {% placeholder "content" %}
        {% endblock %}
        <script src="{% static 'js/counter.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/features.js' %}"></script>
        {% render_block "js" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
</html>