<!-- cms_theme/templates/cms_theme/cms_components/counter.html -->
{% load frontend cms_component sekizai_tags cms_theme_tags %}

{# Declare component - template tags are evaluated at project startup and will render empty #}
{% cms_component "Counter" name=_("Counter") child_classes="TextLinkPlugin"|split mixins="Background|Attributes"|split %}
{% field "title" forms.CharField required=True label=_("Title") %}
{% field "number" forms.IntegerField required=True label=_("Number") %}
{% field "description" HTMLFormField required=True label=_("Description") %}
{% field "color_style" forms.ChoiceField required=False label=_("Text Color") initial="dark" choices=""|color_choices_string|make_choices %}

{# Actual template - when rendering, declared fields are available in the context #}
<div class="counter-component p-lg-3 rounded text-{{ color_style|default:'black' }} {{ instance.get_classes }}"{{ instance.get_attributes }}>
    <div class="p-lg-1">
        <p class="overline pb-1">{{ title }}</p>
        <div class="counter-number h2 py-4"
             data-target="{{ number }}"
             aria-label="{{ title }}: {{ number }}"
             role="status">0</div>
        <div class="counter-description pt-1 fs-4">{{ description|safe }}</div>
    </div>
</div>
