# Compile this file for changes to take effect:
# pip-compile requirements.in >> requirements.txt

boto3
psycopg
uwsgi

django
dj-database-url
django-storage-url
whitenoise
easy-thumbnails

# key requirements for django CMS
git+https://github.com/django-cms/django-cms@main
djangocms-versioning
djangocms-alias

# optional, but used in most projects
djangocms-simple-admin-style

# the default RTE - optional, but used in most projects
djangocms-text


# optional django CMS frontend
djangocms-frontend
djangocms-video
django-filer

# djangocms-blog for v4+
djangocms-stories

# single source of truth for the djangocms-ecosystem
git+https://github.com/django-cms/djangocms-ecosystem
requests

pip-tools  # needed for compilation of this file into requirements.txt, see start of file

django-debug-toolbar  # for debuging in the staging environ
