{% load icon_tags cms_tags %}{% add_css_for_icon instance.icon %}
<div class="d-flex align-items-center">
  <div class="flex-shrink-0">
      <div class="text-center" style="min-width: 110px">
        {% for plugin in instance.child_plugin_instances %}
            {% with parentloop=forloop parent=instance %}{% render_plugin plugin %}{% endwith %}
        {% empty %}<i class="{{ instance.icon.iconClass }}" style="font-size: 300%">{{ instance.icon.iconText }}</i>{% endfor %}
      </div>
  </div>
  <div class="flex-grow-1 ms-3">
    <b>{{ instance.feature }}</b>
  </div>
</div>
