{% load i18n djangocms_blog easy_thumbnails_tags cms_tags %}
<div class="h-100 card post-item">
    {% if post_content.post.main_image %}
        {% thumbnail post_content.post.main_image post_content.post.thumbnail_options.size crop=post_content.post.thumbnail_options.crop upscale=post_content.post.thumbnail_options.upscale subject_location=post_content.post.main_image.subject_location as thumb %}
        <div class="card-img-top" style="height: 180px; background-image: url({{ thumb.url }}); background-position: center; background-size: cover;"></div>
    {% endif %}
    <div class="card-body">
        <h4>{{ post_content.title }}</h4>
        {{ post_content.abstract }}
        <a href="{% absolute_url postcontent %}" class="btn btn-primary">{% translate "Learn more..." %}</a>
    </div>
</div>
