{% load i18n %}
<div class="card mb-3">
    <div class="card-body">
        <h4>{% translate "Client" %}</h4>
        <p>{{ instance.client|default:_("To be defined") }}</p>
        {% if instance.size %}
            <h5>{% translate "Size" %}</h5>
            <p>{{ instance.size }}</p>
        {% endif %}
        {% if instance.location %}
            <h5>{% translate "Location" %}</h5>
            <p>{{ instance.location }}</p>
        {% endif %}
        {% if instance.sector %}
            <h5>{% translate "Sector" %}</h5>
            <p>{{ instance.sector }}</p>
        {% endif %}
        {% if instance.launch %}
            <h5>{% translate "Year of launch" %}</h5>
            <p>{{ instance.launch }}</p>
        {% endif %}
        {% if instance.website %}
            <a class="btn btn-primary" href="{{ instance.website }}">{% translate "Visit website" %}</a>
        {% endif %}
        </div>
    {% if instance.source %}
        <div class="card-body border-top">
            <h5>{% translate "Done by" %}</h5>
            {{ instance.source|safe }}
        </div>
    {% endif %}
</div>
